.footer{
    background-color:rgb(243,244,246);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items:center;
    padding-top: 2rem;
}
.footer ul{
    display: flex;
    gap: 5rem;

}
.text{
    width: 30rem;
}
.icons{
    display: flex;
    gap: 2rem;
    margin-bottom: 5rem;
}
.icons .icon{
   width: 20px;
    
}